.scrollbar-hide {
  /* Hide scrollbars for Webkit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}